{% extends 'base.html' %}


{% block head %}
<head>
  <style>
      table {
        font-family: arial, sans-serif;
        height: 50%;
        width: 50%;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
  </style>
  <title>Profile Page</title>
</head>
{% endblock %}

{% block body %}

<div class="container">
            <div class="panel-heading">
              <br/>
              <h class="panel-title"> Welcome back, abc123 !</h2>
              <br/>
              <br/>
              <br/>
              <button type="submit">Update Information</button>
              <br/>
              <br/>
              <br/>
            </div>
                  <table align="left">
                    <tbody>
                      <tr>
                        <td>Payment Information:    </td>
                        <td>****-****-****-1234</td>
                      </tr>
                      <tr>
                        <td>Date of Birth:    </td>
                        <td>01/01/2000</td>
                      </tr>
                        <tr>
                        <td>Gender:    </td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Home Address:    </td>
                        <td>1 UTSA Circle, San Antonio, TX</td>
                      </tr>
                      <tr>
                        <td>Your Preferred Email:    </td>
                        <td><a href="mailto:student@utsa.edu">student@utsa.edu.com</a></td>
                      </tr>
                        <td>Your Primary Phone Number:    </td>
                        <td>123-456-7890</td>
                     
                    </tbody>
                  </table>
</div>

{% endblock %}