{% extends 'base.html' %}

{% block head %}
	<title>Product Detail Page</title>
{% endblock %}

{% block body %}
	<h1>Product Detail Page</h1>
	<p>Product: {{ product.title }}</p>
	<p>Description: {{ product.description  }}</p>
	<p>Price: {{ product.price }}</p>
	{% if user.is_authenticated %}
		<button type="buystock" onclick="location.href='/shop/buy_product/{{ product }}/'">Buy It Now</button>
	{% else %}
		<button type="buystock" onclick="location.href='/accounts/register'">Sign Up</button>
	{% endif %}
{% endblock %}