{% extends 'base.html' %}

{% block head %}
	<title>Help Page</title>
{% endblock %} 

{% block body %}
	<head>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	
	<div class="container">
		<br/>
		<br/>
	</div>	

	<div class="container">
		<div class="row">
           			<div>
           					<h2>Search for a particular topic</h2>
           					<br/>
           					<br/>
                            <form class="form-inline" method="post" name="myForm" id="myForm">
     							 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      								<button class="btn btn-outline-success my-2 my-sm-0" type="Search">Search</button>
   							 </form>
                    </div>
		</div>
	</div>

	<!--FAQ?-->
	<div class="container">
  		<h2>Frequenty Asked Questions</h2>
  			<p></p>
  			<div class="panel-group" id="accordion">
   			 <div class="panel panel-default">
     			 <div class="panel-heading">
       			 <h4 class="panel-title">
        			  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">How do you Register for Cybershop?</a>
        		</h4>
     		 </div>
      		<div id="collapse1" class="panel-collapse collapse in">
       		 		<div class="panel-body">Text 1 for Question 1</div>
     		 	</div>
    				</div>
   		 		<div class="panel panel-default">
     		<div class="panel-heading">
        		<h4 class="panel-title">
          			<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How do I refund a product?</a>
        		</h4>
      		</div>
      			<div id="collapse2" class="panel-collapse collapse">
        			<div class="panel-body">Text 2 for Question 2</div>
      		</div>
    	</div>
    	<div class="panel panel-default">
      		<div class="panel-heading">
        		<h4 class="panel-title">
          			<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">How do I change my password?</a>
        		</h4>
      		</div>
      		<div id="collapse3" class="panel-collapse collapse">
       	 			<div class="panel-body">Text 3 for Question 3</div>
      			</div>
    		</div>
  		</div> 
	</div>

{% endblock %}