<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block head %}
	<head>
		<style>
			p {
				font-size:20px;
				padding-left: 10px;
			}
			h2, h3 {
				font-weight: bold;
			}
			.title {
				font-size: 50px;
			}
		</style>
		<title>FAQs</title>
	</head>	
	{% endblock %}

	{% block body %}
	<div align="center"><h2>Frequently Asked Questions/Help</h2></div>
	<div class="container">	
		<ol>
			<li><h3>What is CyberShop?</h3></li>
			<p>
				CyberShop is an e-commerce website.
			</p>
			<li><h3>Who created CyberShop?</h3></li>
			<p>
				Cybershop was created by a group of students - Akash Srichandan, Joseph Price, Richard Trest, Felix Benavides, and Fabian De Soto.
			</p>
			<li><h3>Can anyone see my information?</h3></li>
			<p>
				No, the only people who can see your information are the system admin and yourself.
			</p>
		</ol>
	</body>
	</div>
	{% endblock %}
</html>