<html>
	<head>
		<link rel="stylesheet" href="index.css">
		{% block head %}
      	<title>Cybershop: Online Shopping Done Right</title>
  		{% endblock %}
	</head>
{% block body %}
	<div class="test">
		<div>
			<div>
				<button class="button" onclick="location.href='reg_form.html'">Sign Up!</button>
			</div>
		</div>
	</div>
	<p class="loginRedirect">
		Already have an account? <a href="~/login">Login</a>
	</p>
	<form type="get" action="." style="margin: 0">
    	<input  id="search_box" type="text" name="search_box"  placeholder="Search for item" >
    	<button id="search_submit" type="submit" >Search</button>
	</form>	
</html>
{% endblock%}